* 
{
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

:root 
{
    --paperwhite: #FCFCFD;
    --richblack: #101118;
    --margin: 5%;
}

.fadein 
{
    animation-name: fadein;
    animation-duration: 0.75s;
}

@keyframes fadein {
    from {transform: translate3d(0, -20%, 0); opacity: 0;}
        to {transform: translate3d(0, 0%, 0); opacity: 100%;}
    
}


body 
{
    text-wrap: balance;

    background-color: var(--paperwhite);
    color: var(--richblack);
    transition: all 0.2 ease;
}

nav 
{
    color: white;
    padding-left: var(--margin);
    padding-right: var(--margin);
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
}

.full {width: 100%;}

nav > .logo 
{
    width: 2.5rem;
}

.logo > img
{
    max-width: 100%;
}

ul 
{
    gap: 1rem;
    display: inline-flex;
}

li > a 
{
    color: white;
    letter-spacing: 0.05rem;
    font-weight: 200;
}
a {
    display: inline-block;
    position: relative;
    color: #0087ca;
    text-decoration: none;
  }
  a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


image 
{
width: 100%;
height: 100%;
object-fit: cover;
}

section 
{
    margin-top: calc(var(--margin)*1.25);
    margin-bottom: calc(var(--margin)*1.25);
    padding: var(--margin);
    gap: var(--margin);
    display: flex;
}

section > div 
{
    width: 50%;
    overflow: hidden;
    
}

section > div > img
{
    min-height: 100%;
    min-width: 100%;
    
}

.quotesection > div 
{
    width: unset;
}

.quotesection div:nth-child(1)
{

}

.quotesection div:nth-child(2)
{
    padding-right: calc(var(--margin)*5);
    padding-top: 6rem;
    padding-bottom: 6rem;
}





.videowrapper 
{
 
    position: relative;
    top: 0;
    left: 0;
    height: 90svh;
    height: 90vh;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    
}
.overlay 
{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 80%;
    z-index: 400;
}


video 
{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

p 
{
    font-size: 1rem;
}
  
h1 
{
    text-transform: capitalize;
    height: auto;
    position: absolute;
    z-index: 500;
    font-size: 8rem;
    color: white;
    padding-left: var(--margin);
    padding-right: 25%;
    padding-bottom: 3rem;
    position: absolute;
    bottom: 0;
    font-weight: 700;
    line-height: 110%;
    font-weight: 600;
}

h2 
{
    
    font-size: 3.5rem;
    font-weight: 100;
    padding-bottom: 2rem;
    line-height: 110%;
}
h1, h2, h3, h4, h5 
{
    font-family: "neue-haas-grotesk-display", sans-serif;

}
h4 
{
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 100;
    font-size: 1.1rem;
    line-height: 150%;
}

p 
{
    line-height: 160%;
}





@media only screen and (max-width: 4000px) {
    html 
    {
        font-size: 16;
    }
    /* … */
  }

  @media only screen and (max-width: 1000px) {
    html 
    {
        font-size: 15px;
    }
    h1 
    {
        font-size: 4rem;
    }
    
    /* … */
  }

  @media only screen and (max-width: 800px) {
    :root 
    {
        --margin: 8%;
    }
    html 
    {
        font-size: 14px;
    }
    h1 
    {
        padding-right: var(--margin);
        
    }

    section 
    {
        margin-top: var(--margin);
        margin-bottom: var(--margin);
        gap: 2rem;
        flex-wrap: wrap;
    }

    section > div 
    {
        width: unset;
    }

    .quotesection div:nth-child(2)
    {
        padding-right: unset;
        padding-top: unset;
        padding-bottom: unset;
    }
    
    
    /* … */
  }

  @media only screen and (max-width: 600px) {
    :root 
    {
        --margin: 6%;
    }

    h2 
    {
        font-size: 3rem;

    }


    section 
    {
        margin-top: var(--margin);
        margin-bottom: var(--margin);
        gap: 2rem;
        flex-wrap: wrap;
    }

    section > div 
    {
        width: unset;
    }
    
    
    /* … */
  }

  @media only screen and (max-width: 300px) {
    :root 
    {
        --margin: 3%;
    }
    html 
    {
        font-size: 12px;
    }
    h1 
    {
        padding-right: var(--margin);
        
    }

    section 
    {
        margin-top: var(--margin);
        margin-bottom: var(--margin);
        gap: 2rem;
        flex-wrap: wrap;
    }

    section > div 
    {
        width: unset;
    }
    
    
    /* … */
  }

 


