/* GLOBALS */

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    color: var(--onyxblack);
    font-family: sans-serif, roboto;
    padding-block: 0;
    padding-inline: 0;
}

:root 
{
    --onyxblack: #29292d;
    --wavemist: #E6E6F2;
    --coolgray: rgb(80, 80, 91);
    --electricpurple: #5C59E0;


    --electricpurple5: #32307A;
    --electricpurple4: #4543A8;
    --electricpurple3: #5C59E0;
    --electricpurple2: #8987FF;
    --electricpurple1: #B6B5FF;

    --succesgreen: #59e0a6;


    --max-width: 1090px; 

    --roboto-regular: 300;
    --roboto-medium: 500;
    --roboto-bold: 700;
    --roboto-black: 900;

    --bezier: cubic-bezier(.9,0,0,1);
    --bezier-ease: cubic-bezier(.4,0,0,1);

    --flexgap: 20px;
}



.success 
{
    color: var(--succesgreen);
}

#onyxblack{background-color: var(--onyxblack);}
#coolgray{background-color: var(--coolgray);}
#wavemist{background-color: var(--wavemist);}
#electricpurple{background-color: var(--electricpurple);}

#electricpurple1{background-color: var(--electricpurple1);}
#electricpurple2{background-color: var(--electricpurple2);}
#electricpurple3{background-color: var(--electricpurple3);}
#electricpurple4{background-color: var(--electricpurple4);}
#electricpurple5{background-color: var(--electricpurple5);}




body 
{
    background-color: #e6e6f22a;
}



/* ANIMATIONS */

.selectable 
{
    cursor: pointer;
    transition: all 0.2s var(--bezier-ease);

}

.selectable:hover 
{
    scale: 1.05;
}


@keyframes slidein 
{
    from {transform: translate3d(0, -80px, 0);}
    to {transform: translate3d(0, 0px, 0);}
}

@keyframes fadein 
{
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes display 
{
    0% {
        visibility: hidden;
        height: 0px;
      }

      100% {
        opacity: 100%;
        height: 100%;
        visibility: visible;
      }
}




/* TYPOGRAPHY */
h1
{
    font-weight: var(--roboto-bold);
    font-size: 18px;

}
h3
{
    font-weight: var(--roboto-bold);

}
h4
{
    font-weight: var(--roboto-bold);
    font-size: 16px;
    text-transform: capitalize;  
}



p, a, small 
{
    font-weight: var(--roboto-regular);
    font-size: 14px;
}

sup
{
    vertical-align: middle;

}



textarea, input
{
    border: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: none;
    width: auto;
    -webkit-appearance: none;
    border: none;
    outline: none;
}







/* HEADER  */

header 
{
    position: relative;

    background-color: var(--onyxblack);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: 1.4s var(--bezier) slidein;

}

header img 
{
    width: 140px;
}

header a 
{
    position: absolute;
    right: 20px;
    align-self: center;
    width: 30px;
    height: 30px;
    
}

header a img
{
    width: 30px;
}



.banner 
{
    
    opacity: 0;
    animation-name: display;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;


    justify-content: center;
    align-items: center;
    background-color: #e6e6f27a;
    padding: 20px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner small 
{
    transform: translate3d(0, -80px, 0);
    animation: slidein 1s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}

.banner img
{
    position: absolute;
    top: 10px;
    right: 10px;

}

.banner #button 
{

}






/* body  */



main 
{
    animation: 2s var(--bezier) slidein;
    animation-fill-mode: forwards;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 10px;
    gap: var(--flexgap); 
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.main-child 
{
    opacity: 0;
    animation: fadein 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.main-child > section
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: calc(var(--flexgap)*2);
    justify-content: center;
    align-items: center;
    max-width: var(--max-width);
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid #29292d10;
    border-bottom: 1px solid #29292d10;
}

section .content 
{
    margin-bottom: 10px;
    text-align: center;
}

.content img 
{
    width: 140px;
}



section .contentdescription 
{   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.contents-wrapper 
{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#copy 
{
    
    padding: 5px;
    
}

.circle 
{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: inline-block;
}


.four 
{
    gap: 0;
    row-gap: calc(var(--flexgap)*4);  
}


.four > div 
{
    flex: 1 0 25%;
}


